In [18]:
import numpy as np
import pandas as pd
import os
from io import StringIO

In [19]:
data = pd.read_csv(r"notebooks\combined (2020-24 v3).csv")
df = pd.DataFrame(data)

Create new column 'year'

In [ ]:
# Read the CSV file
df = pd.read_csv(r"2020-2024\TIMES_WorldUniversityRankings_2024.csv")

# Create a new column. For example, let's create a column named 'new_column' and initialize it with the value '0'
df['year'] = '2024'

# Write the dataframe back to CSV
#df.to_csv('2024wranks.csv', index=False)

Combine csv's into one

In [ ]:
directory = r"newdataset"

csv_files = [f for f in os.listdir(directory) if f.endswith('.csv')]

# Create a list to hold dataframes
dfs = []

# Read each CSV file and append it to the list
for csv_file in csv_files:
    df = pd.read_csv(os.path.join(directory, csv_file))
    dfs.append(df)

# Concatenate all dataframes in the list
combined_df = pd.concat(dfs, ignore_index=True)

# Write the combined dataframe to a new CSV file
#combined_df.to_csv('combined (2020-24.csv)', index=False)

Cleaning dataset 2020-24

In [ ]:
data = pd.read_csv(r"newdataset\2023.csv")
df = pd.DataFrame(data)

df.columns.tolist()

# drop irrelevant columns
df = df.drop(['aliases',
 'subjects_offered',
 'closed',
 'unaccredited',
 'disabled',
 'website_url',
 'record_type', 
 'member_level', 
 'url', 'nid', 
 'location',
 'rank'
 ], axis= 1)
df
df.to_csv(r"", index=False)

In [28]:
# Changing column name

data = pd.read_csv(r"notebooks/combined (2020-24 v2).csv")
df = pd.DataFrame(data)
df = df.rename(columns={
    'scores_overall_rank': 'rank',
})

#df.to_csv(r"notebooks/combined (2020-24 v2).csv", index=False)

In [ ]:
# replacing na values with 0
df = pd.read_csv(r"newdataset\combined (2020-24.csv)")
columns = ['rank_order', 'name', 'scores_overall',             'scores_overall_rank',
       'scores_teaching', 'scores_teaching_rank', 'scores_research',
       'scores_research_rank', 'scores_citations', 'scores_citations_rank',
       'scores_industry_income', 'scores_industry_income_rank',
       'scores_international_outlook', 'scores_international_outlook_rank',
       'stats_number_students', 'stats_student_staff_ratio',
       'stats_pc_intl_students', 'stats_female_male_ratio']

for col in columns:
    df[col] = df[col].fillna(0)

#df.to_csv(r"newdataset\combined (2020-24.csv)", index=False)

In [22]:
df['rank'] = df['rank']/10
#df.to_csv('combined (2020-24 v3).csv', index=False)

In [27]:
df['rank'] = df['rank'].astype(int)
#df.to_csv('combined (2020-24 v3).csv', index=False)

Cleaning columns :
stats_number_students ,stats_student_staff_ratio,stats_pc_intl_students,stats_female_male_ratio

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10053 entries, 0 to 10052
Data columns (total 18 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   name                               10053 non-null  object
 1   scores_overall                     2771 non-null   float64
 2   rank                               10053 non-null  int64
 3   scores_teaching                    10053 non-null  float64
 4   scores_teaching_rank               10053 non-null  int64
 5   scores_research                    10053 non-null  float64
 6   scores_research_rank               10053 non-null  int64
 7   scores_citations                   10053 non-null  float64
 8   scores_citations_rank              10053 non-null  int64
 9   scores_industry_income             10053 non-null  float64
 10  scores_industry_income_rank        10053 non-null  int64
 11  scores_international_outlook       10053 non-null  float64
 12  scores_international_outlook_rank  10053 non-null  int64
 13  stats_number_students              185 non-null    float64
 14  stats_student_staff_ratio          10053 non-null  float64
 15  stats_pc_intl_students             0 non-null      float64
 16  stats_female_male_ratio            10053 non-null  object
 17  year                               10053 non-null  int64
dtypes: float64(9), int64(7), object(2)
memory usage: 1.4+ MB

In [20]:
df['stats_female_male_ratio']

0        46 : 54
1        34 : 66
2        47 : 53
3        43 : 57
4        39 : 61
          ...
10048    60 : 40
10049    66 : 34
10050    40 : 60
10051    55 : 45
10052    58 : 42
Name: stats_female_male_ratio, Length: 10053, dtype: object

In [23]:
import pandas as pd

data = pd.read_csv(r"notebooks\combined (2020-24 v3).csv")
df = pd.DataFrame(data)

# Remove extra spaces in column names
df.columns = df.columns.str.strip()

# Convert the 'stats_female_male_ratio' column to numerical values
df['stats_female_male_ratio'] = df['stats_female_male_ratio'].apply(lambda x: pd.eval(x.replace(':', '/')) if isinstance(x, str) else x)

print(df['stats_female_male_ratio'])

#df.to_csv(r'notebooks\combined (2020-24 v3).csv', index= False)

0        0.851852
1        0.515152
2        0.886792
3        0.754386
4        0.639344
           ...
10048    1.500000
10049    1.941176
10050    0.666667
10051    1.222222
10052    1.380952
Name: stats_female_male_ratio, Length: 10053, dtype: float64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10053 entries, 0 to 10052
Data columns (total 18 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   name                               10053 non-null  object
 1   scores_overall                     10053 non-null  object
 2   rank                               10053 non-null  int64
 3   scores_teaching                    10053 non-null  float64
 4   scores_teaching_rank               10053 non-null  int64
 5   scores_research                    10053 non-null  float64
 6   scores_research_rank               10053 non-null  int64
 7   scores_citations                   10053 non-null  float64
 8   scores_citations_rank              10053 non-null  int64
 9   scores_industry_income             10053 non-null  float64
 10  scores_industry_income_rank        10053 non-null  int64
 11  scores_international_outlook       10053 non-null  float64
 12  scores_international_outlook_rank  10053 non-null  int64
 13  stats_number_students              10053 non-null  object
 14  stats_student_staff_ratio          10053 non-null  float64
 15  stats_pc_intl_students             10053 non-null  object
 16  stats_female_male_ratio            10053 non-null  float64
 17  year                               10053 non-null  int64
dtypes: float64(7), int64(7), object(4)
memory usage: 1.4+ MB

In [25]:
df['stats_number_students']

0        20,665
1         2,240
2        18,980
3        16,135
4        11,247
          ...
10048     5,881
10049     4,872
10050     4,454
10051    31,103
10052     5,672
Name: stats_number_students, Length: 10053, dtype: object

In [28]:
import pandas as pd

data = pd.read_csv(r"notebooks\combined (2020-24 v3).csv")
df = pd.DataFrame(data)

# Remove extra spaces in column names
df.columns = df.columns.str.strip()

# Remove commas and convert 'stats_number_students' to numeric
df['stats_number_students'] = df['stats_number_students'].str.replace(',', '').astype(float)

# Display the DataFrame
print(df['stats_number_students'])
#df.to_csv(r'notebooks\combined (2020-24 v3).csv', index= False)

0        20665.0
1         2240.0
2        18980.0
3        16135.0
4        11247.0
          ...
10048     5881.0
10049     4872.0
10050     4454.0
10051    31103.0
10052     5672.0
Name: stats_number_students, Length: 10053, dtype: float64

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10053 entries, 0 to 10052
Data columns (total 18 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   name                               10053 non-null  object
 1   scores_overall                     10053 non-null  object
 2   rank                               10053 non-null  int64
 3   scores_teaching                    10053 non-null  float64
 4   scores_teaching_rank               10053 non-null  int64
 5   scores_research                    10053 non-null  float64
 6   scores_research_rank               10053 non-null  int64
 7   scores_citations                   10053 non-null  float64
 8   scores_citations_rank              10053 non-null  int64
 9   scores_industry_income             10053 non-null  float64
 10  scores_industry_income_rank        10053 non-null  int64
 11  scores_international_outlook       10053 non-null  float64
 12  scores_international_outlook_rank  10053 non-null  int64
 13  stats_number_students              10053 non-null  float64
 14  stats_student_staff_ratio          10053 non-null  float64
 15  stats_pc_intl_students             10053 non-null  object
 16  stats_female_male_ratio            10053 non-null  float64
 17  year                               10053 non-null  int64
dtypes: float64(8), int64(7), object(3)
memory usage: 1.4+ MB

In [30]:
df['stats_pc_intl_students']

0        41%
1        30%
2        37%
3        23%
4        34%
        ...
10048    35%
10049     0%
10050     1%
10051     0%
10052     0%
Name: stats_pc_intl_students, Length: 10053, dtype: object

In [34]:
import pandas as pd

data = pd.read_csv(r"notebooks\combined (2020-24 v3).csv")
df = pd.DataFrame(data)

# Remove extra spaces in column names
df.columns = df.columns.str.strip()

df['stats_pc_intl_students'] = pd.to_numeric(df['stats_pc_intl_students'].str.rstrip('%'), errors='coerce')

print(df['stats_pc_intl_students'])
#df.to_csv(r'notebooks\combined (2020-24 v3).csv', index= False)

0        41.0
1        30.0
2        37.0
3        23.0
4        34.0
         ...
10048    35.0
10049     0.0
10050     1.0
10051     0.0
10052     0.0
Name: stats_pc_intl_students, Length: 10053, dtype: float64