In [1]:
import numpy as np
import pandas as pd

Top 20 uni

In [4]:
data3 = pd.read_csv(r'2020-2024\2023_rankings.csv')
data2 = pd.read_csv(r'2020-2024\2022_rankings.csv')
data1 = pd.read_csv(r'2020-2024\2021_rankings.csv')
data0 = pd.read_csv(r'2020-2024\2020_rankings.csv')

df3 = pd.DataFrame(data3)
df2 = pd.DataFrame(data2)
df1 = pd.DataFrame(data1)
df0 = pd.DataFrame(data0)

print(df0.head(2),df1.head(2),df2.head(2),df3.head(2))
#df.tail(3) #check for inconsistensies with data head/tail

   rank_order rank                                name scores_overall  \
0          10    1                University of Oxford           95.4
1          20    2  California Institute of Technology           94.5

   scores_overall_rank  scores_teaching  scores_teaching_rank  \
0                   10             90.5                     6
1                   20             92.1                     2

   scores_research  scores_research_rank  scores_citations  ...  \
0             99.6                     1              98.4  ...
1             97.2                     4              97.9  ...

   scores_international_outlook_rank        location  stats_number_students  \
0                                 22  United Kingdom                 20,665
1                                151   United States                  2,240

   stats_student_staff_ratio  stats_pc_intl_students stats_female_male_ratio  \
0                       11.2                     41%                 46 : 54
1                        6.4                     30%                 34 : 66

                                      aliases  \
0                        University of Oxford
1  California Institute of Technology caltech

                                    subjects_offered closed unaccredited
0  Accounting & Finance,General Engineering,Commu...  False        False
1  Languages, Literature & Linguistics,Economics ...  False        False

[2 rows x 24 columns]    rank_order rank                  name scores_overall  scores_overall_rank  \
0          10    1  University of Oxford           95.6                   10
1          20    2   Stanford University           94.9                   20

   scores_teaching  scores_teaching_rank  scores_research  \
0             91.3                     5             99.6
1             92.2                     3             96.7

   scores_research_rank  scores_citations  ...  \
0                     1              98.0  ...
1                     6              99.9  ...

   scores_international_outlook_rank        location  stats_number_students  \
0                                 24  United Kingdom                 20,775
1                                200   United States                 16,223

   stats_student_staff_ratio  stats_pc_intl_students stats_female_male_ratio  \
0                       11.1                     41%                 46 : 54
1                        7.4                     23%                 44 : 56

                aliases                                   subjects_offered  \
0  University of Oxford  Accounting & Finance,General Engineering,Commu...
1   Stanford University  Physics & Astronomy,Computer Science,Politics ...

  closed unaccredited
0  False        False
1  False        False

[2 rows x 24 columns]    rank_order rank                                name scores_overall  \
0          10    1                University of Oxford           95.7
1          20   =2  California Institute of Technology           95.0

   scores_overall_rank  scores_teaching  scores_teaching_rank  \
0                   10             91.0                     5
1                   20             93.6                     2

   scores_research  scores_research_rank  scores_citations  ...  \
0             99.6                     1              98.0  ...
1             96.9                     4              97.8  ...

   scores_international_outlook_rank        location  stats_number_students  \
0                                 26  United Kingdom                 20,835
1                                167   United States                  2,233

   stats_student_staff_ratio  stats_pc_intl_students stats_female_male_ratio  \
0                       10.7                     42%                 47 : 53
1                        6.3                     34%                 36 : 64

                                      aliases  \
0                        University of Oxford
1  California Institute of Technology caltech

                                    subjects_offered closed unaccredited
0  Accounting & Finance,General Engineering,Commu...  False        False
1  Languages, Literature & Linguistics,Economics ...  False        False

[2 rows x 24 columns]    rank_order rank                  name scores_overall  scores_overall_rank  \
0          10    1  University of Oxford           96.4                   10
1          20    2    Harvard University           95.2                   20

   scores_teaching  scores_teaching_rank  scores_research  \
0             92.3                     5             99.7
1             94.8                     1             99.0

   scores_research_rank  scores_citations  ...  \
0                     1              99.0  ...
1                     3              99.3  ...

   scores_international_outlook_rank        location  stats_number_students  \
0                                 28  United Kingdom                 20,965
1                                214   United States                 21,887

   stats_student_staff_ratio  stats_pc_intl_students stats_female_male_ratio  \
0                       10.6                     42%                 48 : 52
1                        9.6                     25%                 50 : 50

                aliases                                   subjects_offered  \
0  University of Oxford  Accounting & Finance,General Engineering,Commu...
1    Harvard University  Mathematics & Statistics,Civil Engineering,Lan...

  closed unaccredited
0  False        False
1  False        False

[2 rows x 24 columns]

In [5]:
data2.columns

Index(['rank_order', 'rank', 'name', 'scores_overall', 'scores_overall_rank',
       'scores_teaching', 'scores_teaching_rank', 'scores_research',
       'scores_research_rank', 'scores_citations', 'scores_citations_rank',
       'scores_industry_income', 'scores_industry_income_rank',
       'scores_international_outlook', 'scores_international_outlook_rank',
       'location', 'stats_number_students', 'stats_student_staff_ratio',
       'stats_pc_intl_students', 'stats_female_male_ratio', 'aliases',
       'subjects_offered', 'closed', 'unaccredited'],
      dtype='object')

Column names

In [6]:
# drop irrelevant columns
#data = data.drop(['aliases',
 'subjects_offered',
 'closed',
 'unaccredited',
 'disabled',
 'website_url',
 'record_type', 
 'member_level', 
 'url', 'nid', 
 'location'], axis= 1)
data.columns

Index(['rank', 'name', 'scores_overall', 'scores_overall_rank',
       'scores_teaching', 'scores_teaching_rank', 'scores_research',
       'scores_research_rank', 'scores_citations', 'scores_citations_rank',
       'scores_industry_income', 'scores_industry_income_rank',
       'scores_international_outlook', 'scores_international_outlook_rank',
       'stats_number_students', 'stats_student_staff_ratio',
       'stats_pc_intl_students', 'stats_female_male_ratio'],
      dtype='object')

In [6]:
df_new0 = df0.head(20)
df_new0
#df_new0.to_csv('top20uni-2024.csv')

,rank_order,rank,name,scores_overall,scores_overall_rank,scores_teaching,scores_teaching_rank,scores_research,scores_research_rank,scores_citations,...,scores_international_outlook_rank,location,stats_number_students,stats_student_staff_ratio,stats_pc_intl_students,stats_female_male_ratio,aliases,subjects_offered,closed,unaccredited
0,10,1,University of Oxford,95.4,10,90.5,6,99.6,1,98.4,...,22,United Kingdom,"20,665",11.2,41%,46 : 54,University of Oxford,"Accounting & Finance,General Engineering,Commu...",False,False
1,20,2,California Institute of Technology,94.5,20,92.1,2,97.2,4,97.9,...,151,United States,"2,240",6.4,30%,34 : 66,California Institute of Technology caltech,"Languages, Literature & Linguistics,Economics ...",False,False
2,30,3,University of Cambridge,94.4,30,91.4,4,98.7,2,95.8,...,37,United Kingdom,"18,980",10.9,37%,47 : 53,University of Cambridge,"Business & Management,General Engineering,Art,...",False,False
3,40,4,Stanford University,94.3,40,92.8,1,96.4,5,99.9,...,188,United States,"16,135",7.3,23%,43 : 57,Stanford University,"Physics & Astronomy,Computer Science,Politics ...",False,False
4,50,5,Massachusetts Institute of Technology,93.6,50,90.5,5,92.4,10,99.5,...,99,United States,"11,247",8.6,34%,39 : 61,Massachusetts Institute of Technology,"Mathematics & Statistics,Languages, Literature...",False,False
5,60,6,Princeton University,93.2,60,90.3,7,96.3,6,98.8,...,172,United States,"7,983",8.1,25%,45 : 55,Princeton University,"Languages, Literature & Linguistics,Biological...",False,False
6,70,7,Harvard University,93.0,70,89.2,8,98.6,3,99.1,...,217,United States,"20,823",9.2,24%,49 : 51,Harvard University,"Mathematics & Statistics,Civil Engineering,Lan...",False,False
7,80,8,Yale University,91.7,80,92.0,3,94.8,7,97.3,...,285,United States,"12,402",5.4,20%,50 : 50,Yale University,"Economics & Econometrics,Medicine & Dentistry,...",False,False
8,90,9,The University of Chicago,90.2,90,89.1,9,91.4,11,96.7,...,218,United States,"13,833",5.7,28%,46 : 54,The University of Chicago,"Business & Management,Physics & Astronomy,Econ...",False,False
9,100,10,Imperial College London,89.8,100,84.5,15,87.6,21,97.0,...,18,United Kingdom,"16,760",11.6,56%,38 : 62,Imperial College London,"Mechanical & Aerospace Engineering,General Eng...",False,False
10,110,11,University of Pennsylvania,89.6,110,87.5,11,90.4,15,98.2,...,319,United States,"20,578",6.5,21%,52 : 48,University of Pennsylvania,"Economics & Econometrics,Archaeology,Medicine ...",False,False
11,120,12,Johns Hopkins University,89.2,120,81.7,20,91.4,12,98.3,...,245,United States,"16,171",4.5,26%,52 : 48,Johns Hopkins University,"Sociology,General Engineering,Politics & Inter...",False,False
12,130,=13,"University of California, Berkeley",88.3,130,83.0,17,90.6,13,99.2,...,269,United States,"41,081",13.7,17%,50 : 50,"University of California, Berkeley","Communication & Media Studies,Education,Civil ...",False,False
13,140,=13,ETH Zurich,88.3,140,81.8,19,92.8,9,90.3,...,11,Switzerland,"18,956",12.5,39%,32 : 68,ETH Zurich,"Mathematics & Statistics,Mechanical & Aerospac...",False,False
14,150,15,UCL,87.1,150,77.8,24,88.7,19,96.1,...,24,United Kingdom,"32,665",10.6,52%,57 : 43,UCL ucl UCL,"Archaeology,Chemical Engineering,Geology, Envi...",False,False
15,160,16,Columbia University,87.0,160,85.6,14,82.6,27,98.2,...,191,United States,"26,586",5.8,37%,NaN,Columbia University,Politics & International Studies (incl Develop...,False,False
16,170,17,"University of California, Los Angeles",86.8,170,83.1,16,88.6,20,97.3,...,330,United States,"41,066",9.4,17%,54 : 46,"University of California, Los Angeles","Chemical Engineering,Psychology,Biological Sci...",False,False
17,180,18,University of Toronto,85.5,180,76.6,27,89.5,18,93.6,...,133,Canada,"73,370",20.1,21%,59 : 41,University of Toronto,Politics & International Studies (incl Develop...,False,False
18,190,19,Cornell University,85.1,190,79.7,21,86.0,23,96.6,...,243,United States,"22,319",9.8,25%,49 : 51,Cornell University,"Other Health,Biological Sciences,Psychology,Ec...",False,False
19,200,20,Duke University,84.0,200,82.4,18,76.8,35,97.0,...,366,United States,"15,309",4.3,19%,49 : 51,Duke University,"Medicine & Dentistry,Psychology,Other Health,B...",False,False

In [7]:
df_new1 = df1.head(20)
df_new1

,rank_order,rank,name,scores_overall,scores_overall_rank,scores_teaching,scores_teaching_rank,scores_research,scores_research_rank,scores_citations,...,scores_international_outlook_rank,location,stats_number_students,stats_student_staff_ratio,stats_pc_intl_students,stats_female_male_ratio,aliases,subjects_offered,closed,unaccredited
0,10,1,University of Oxford,95.6,10,91.3,5,99.6,1,98.0,...,24,United Kingdom,"20,775",11.1,41%,46 : 54,University of Oxford,"Accounting & Finance,General Engineering,Commu...",False,False
1,20,2,Stanford University,94.9,20,92.2,3,96.7,6,99.9,...,200,United States,"16,223",7.4,23%,44 : 56,Stanford University,"Physics & Astronomy,Computer Science,Politics ...",False,False
2,30,3,Harvard University,94.8,30,94.4,1,98.8,3,99.4,...,218,United States,"21,261",9.3,25%,49 : 51,Harvard University,"Mathematics & Statistics,Civil Engineering,Lan...",False,False
3,40,4,California Institute of Technology,94.5,40,92.5,2,96.9,5,97.0,...,158,United States,"2,238",6.3,33%,36 : 64,California Institute of Technology caltech,"Languages, Literature & Linguistics,Economics ...",False,False
4,50,5,Massachusetts Institute of Technology,94.4,50,90.7,6,94.4,8,99.7,...,96,United States,"11,276",8.4,34%,39 : 61,Massachusetts Institute of Technology,"Mathematics & Statistics,Languages, Literature...",False,False
5,60,6,University of Cambridge,94.0,60,90.3,7,99.2,2,95.6,...,31,United Kingdom,"19,370",11.0,38%,47 : 53,University of Cambridge,"Business & Management,General Engineering,Art,...",False,False
6,70,7,"University of California, Berkeley",92.2,70,85.8,13,97.2,4,99.1,...,275,United States,"39,918",19.8,17%,51 : 49,"University of California, Berkeley","Communication & Media Studies,Education,Civil ...",False,False
7,80,8,Yale University,91.6,80,91.9,4,93.8,9,97.9,...,315,United States,"12,910",6.0,20%,50 : 50,Yale University,"Economics & Econometrics,Medicine & Dentistry,...",False,False
8,90,9,Princeton University,91.5,90,88.8,10,92.5,10,98.9,...,192,United States,"8,091",8.0,23%,46 : 54,Princeton University,"Languages, Literature & Linguistics,Biological...",False,False
9,100,10,The University of Chicago,90.3,100,88.9,9,90.5,17,98.6,...,255,United States,"14,292",5.9,31%,46 : 54,The University of Chicago,"Business & Management,Physics & Astronomy,Econ...",False,False
10,110,11,Imperial College London,89.4,110,82.3,17,88.2,21,97.2,...,17,United Kingdom,"17,175",11.6,58%,39 : 61,Imperial College London,"Mechanical & Aerospace Engineering,General Eng...",False,False
11,120,12,Johns Hopkins University,89.2,120,81.6,18,91.8,12,97.7,...,256,United States,"16,432",4.4,27%,52 : 48,Johns Hopkins University,"Sociology,General Engineering,Politics & Inter...",False,False
12,130,13,University of Pennsylvania,88.9,130,85.4,14,89.9,19,98.1,...,338,United States,"20,771",6.4,21%,52 : 48,University of Pennsylvania,"Economics & Econometrics,Archaeology,Medicine ...",False,False
13,140,14,ETH Zurich,87.9,140,80.4,20,92.3,11,90.5,...,13,Switzerland,"19,632",13.1,40%,32 : 68,ETH Zurich,"Mathematics & Statistics,Mechanical & Aerospac...",False,False
14,150,15,"University of California, Los Angeles",87.1,150,82.5,16,90.2,18,96.5,...,352,United States,"41,673",10.0,17%,55 : 45,"University of California, Los Angeles","Chemical Engineering,Psychology,Biological Sci...",False,False
15,160,16,UCL,86.9,160,76.6,25,89.4,20,96.2,...,23,United Kingdom,"34,590",10.8,55%,57 : 43,UCL ucl UCL,"Archaeology,Chemical Engineering,Geology, Envi...",False,False
16,170,17,Columbia University,86.8,170,85.1,15,82.9,25,97.7,...,198,United States,"27,384",5.7,39%,NaN,Columbia University,Politics & International Studies (incl Develop...,False,False
17,180,18,University of Toronto,86.0,180,75.4,28,90.9,14,94.5,...,126,Canada,"74,502",20.0,22%,59 : 41,University of Toronto,Politics & International Studies (incl Develop...,False,False
18,190,19,Cornell University,85.3,190,78.8,23,86.7,23,97.2,...,258,United States,"23,016",10.2,25%,50 : 50,Cornell University,"Other Health,Biological Sciences,Psychology,Ec...",False,False
19,200,=20,Duke University,84.8,200,80.7,19,80.4,31,96.9,...,348,United States,"15,489",4.3,21%,49 : 51,Duke University,"Medicine & Dentistry,Psychology,Other Health,B...",False,False

In [8]:
df_new2 = df2.head(20)
df_new2

,rank_order,rank,name,scores_overall,scores_overall_rank,scores_teaching,scores_teaching_rank,scores_research,scores_research_rank,scores_citations,...,scores_international_outlook_rank,location,stats_number_students,stats_student_staff_ratio,stats_pc_intl_students,stats_female_male_ratio,aliases,subjects_offered,closed,unaccredited
0,10,1,University of Oxford,95.7,10,91.0,5,99.6,1,98.0,...,26,United Kingdom,"20,835",10.7,42%,47 : 53,University of Oxford,"Accounting & Finance,General Engineering,Commu...",False,False
1,20,=2,California Institute of Technology,95.0,20,93.6,2,96.9,4,97.8,...,167,United States,"2,233",6.3,34%,36 : 64,California Institute of Technology caltech,"Languages, Literature & Linguistics,Economics ...",False,False
2,30,=2,Harvard University,95.0,30,94.5,1,98.9,3,99.2,...,209,United States,"21,574",9.5,24%,50 : 50,Harvard University,"Mathematics & Statistics,Civil Engineering,Lan...",False,False
3,40,4,Stanford University,94.9,40,92.3,3,96.8,5,99.9,...,211,United States,"16,319",7.3,23%,46 : 54,Stanford University,"Physics & Astronomy,Computer Science,Politics ...",False,False
4,50,=5,University of Cambridge,94.6,50,90.9,6,99.5,2,96.2,...,32,United Kingdom,"19,680",11.1,39%,47 : 53,University of Cambridge,"Business & Management,General Engineering,Art,...",False,False
5,60,=5,Massachusetts Institute of Technology,94.6,60,90.9,7,94.4,10,99.7,...,106,United States,"11,459",8.4,33%,40 : 60,Massachusetts Institute of Technology,"Mathematics & Statistics,Languages, Literature...",False,False
6,70,7,Princeton University,93.6,70,89.5,9,96.0,7,99.0,...,197,United States,"7,753",7.5,23%,47 : 53,Princeton University,"Languages, Literature & Linguistics,Biological...",False,False
7,80,8,"University of California, Berkeley",92.2,80,85.7,14,96.0,6,99.1,...,234,United States,"40,306",18.9,23%,51 : 49,"University of California, Berkeley","Communication & Media Studies,Education,Civil ...",False,False
8,90,9,Yale University,90.8,90,90.7,8,93.0,12,97.0,...,323,United States,"13,317",5.9,21%,51 : 49,Yale University,"Economics & Econometrics,Medicine & Dentistry,...",False,False
9,100,10,The University of Chicago,89.8,100,87.2,12,90.6,15,98.3,...,261,United States,"14,895",6.1,33%,46 : 54,The University of Chicago,"Business & Management,Physics & Astronomy,Econ...",False,False
10,110,11,Columbia University,89.6,110,87.8,11,89.6,19,97.3,...,208,United States,"21,608",4.6,35%,NaN,Columbia University,Politics & International Studies (incl Develop...,False,False
11,120,12,Imperial College London,89.3,120,81.4,17,88.3,22,97.6,...,15,United Kingdom,"17,715",11.2,59%,40 : 60,Imperial College London,"Mechanical & Aerospace Engineering,General Eng...",False,False
12,130,=13,Johns Hopkins University,88.4,130,80.0,20,90.8,14,97.2,...,260,United States,"16,552",4.3,28%,52 : 48,Johns Hopkins University,"Sociology,General Engineering,Politics & Inter...",False,False
13,140,=13,University of Pennsylvania,88.4,140,84.5,15,89.2,20,97.1,...,326,United States,"21,211",6.4,22%,53 : 47,University of Pennsylvania,"Economics & Econometrics,Archaeology,Medicine ...",False,False
14,150,15,ETH Zurich,88.2,150,81.3,18,92.4,13,90.7,...,13,Switzerland,"20,428",14.4,41%,32 : 68,ETH Zurich,"Mathematics & Statistics,Mechanical & Aerospac...",False,False
15,160,=16,Peking University,87.5,160,91.4,4,94.6,9,81.7,...,381,China,"31,606",10.2,19%,46 : 54,Peking University,"Other Health,Physics & Astronomy,Business & Ma...",False,False
16,170,=16,Tsinghua University,87.5,170,88.1,10,95.7,8,86.8,...,622,China,"38,221",11.5,13%,34 : 66,Tsinghua University Qinghua University Tsing h...,"Economics & Econometrics,Languages, Literature...",False,False
17,180,=18,University of Toronto,87.2,180,77.6,25,93.0,11,92.6,...,117,Canada,"75,821",25.5,25%,57 : 43,University of Toronto,Politics & International Studies (incl Develop...,False,False
18,190,=18,UCL,87.2,190,76.8,26,88.9,21,96.9,...,22,United Kingdom,"35,760",10.6,57%,58 : 42,UCL ucl UCL,"Archaeology,Chemical Engineering,Geology, Envi...",False,False
19,200,20,"University of California, Los Angeles",86.7,200,82.1,16,89.8,18,96.0,...,380,United States,"42,054",10.0,17%,55 : 45,"University of California, Los Angeles","Chemical Engineering,Psychology,Biological Sci...",False,False

In [9]:
df_new3 = df3.head(20)
df_new3

,rank_order,rank,name,scores_overall,scores_overall_rank,scores_teaching,scores_teaching_rank,scores_research,scores_research_rank,scores_citations,...,scores_international_outlook_rank,location,stats_number_students,stats_student_staff_ratio,stats_pc_intl_students,stats_female_male_ratio,aliases,subjects_offered,closed,unaccredited
0,10,1,University of Oxford,96.4,10,92.3,5,99.7,1,99.0,...,28,United Kingdom,"20,965",10.6,42%,48 : 52,University of Oxford,"Accounting & Finance,General Engineering,Commu...",False,False
1,20,2,Harvard University,95.2,20,94.8,1,99.0,3,99.3,...,214,United States,"21,887",9.6,25%,50 : 50,Harvard University,"Mathematics & Statistics,Civil Engineering,Lan...",False,False
2,30,=3,University of Cambridge,94.8,30,90.9,7,99.5,2,97.0,...,34,United Kingdom,"20,185",11.3,39%,47 : 53,University of Cambridge,"Business & Management,General Engineering,Art,...",False,False
3,40,=3,Stanford University,94.8,40,94.2,2,96.7,7,99.8,...,223,United States,"16,164",7.1,24%,46 : 54,Stanford University,"Physics & Astronomy,Computer Science,Politics ...",False,False
4,50,5,Massachusetts Institute of Technology,94.2,50,90.7,8,93.6,11,99.8,...,119,United States,"11,415",8.2,33%,40 : 60,Massachusetts Institute of Technology,"Mathematics & Statistics,Languages, Literature...",False,False
5,60,6,California Institute of Technology,94.1,60,90.9,6,97.0,5,97.3,...,176,United States,"2,237",6.2,34%,37 : 63,California Institute of Technology caltech,"Languages, Literature & Linguistics,Economics ...",False,False
6,70,7,Princeton University,92.4,70,87.6,12,95.9,8,99.1,...,215,United States,"8,279",8.0,23%,46 : 54,Princeton University,"Languages, Literature & Linguistics,Biological...",False,False
7,80,8,"University of California, Berkeley",92.1,80,86.4,14,95.8,9,99.0,...,238,United States,"40,921",18.4,24%,52 : 48,"University of California, Berkeley","Communication & Media Studies,Education,Civil ...",False,False
8,90,9,Yale University,91.4,90,92.6,3,92.7,14,97.0,...,335,United States,"13,482",5.9,21%,52 : 48,Yale University,"Economics & Econometrics,Medicine & Dentistry,...",False,False
9,100,10,Imperial College London,90.4,100,82.8,16,90.8,17,98.3,...,17,United Kingdom,"18,545",11.2,61%,40 : 60,Imperial College London,"Mechanical & Aerospace Engineering,General Eng...",False,False
10,110,=11,Columbia University,89.4,110,89.4,10,87.7,21,97.1,...,219,United States,"21,781",4.5,38%,NaN,Columbia University,Politics & International Studies (incl Develop...,False,False
11,120,=11,ETH Zurich,89.4,120,82.6,17,95.4,10,90.7,...,14,Switzerland,"21,665",14.8,41%,33 : 67,ETH Zurich,"Mathematics & Statistics,Mechanical & Aerospac...",False,False
12,130,13,The University of Chicago,88.9,130,86.5,13,88.8,19,97.7,...,283,United States,"15,366",6.0,36%,47 : 53,The University of Chicago,"Business & Management,Physics & Astronomy,Econ...",False,False
13,140,14,University of Pennsylvania,88.8,140,86.0,15,88.8,20,97.0,...,327,United States,"21,453",6.3,23%,53 : 47,University of Pennsylvania,"Economics & Econometrics,Archaeology,Medicine ...",False,False
14,150,15,Johns Hopkins University,88.3,150,79.4,21,91.5,15,97.0,...,266,United States,"17,584",4.7,29%,53 : 47,Johns Hopkins University,"Sociology,General Engineering,Politics & Inter...",False,False
15,160,16,Tsinghua University,88.2,160,90.1,9,97.4,4,88.0,...,951,China,"38,324",11.6,10%,NaN,Tsinghua University Qinghua University Tsing h...,"Economics & Econometrics,Languages, Literature...",False,False
16,170,17,Peking University,88.1,170,92.5,4,96.7,6,80.4,...,409,China,"31,994",10.3,19%,NaN,Peking University,"Other Health,Physics & Astronomy,Business & Ma...",False,False
17,180,18,University of Toronto,87.4,180,77.3,25,93.3,12,92.8,...,115,Canada,"77,468",25.8,26%,56 : 44,University of Toronto,Politics & International Studies (incl Develop...,False,False
18,190,19,National University of Singapore,87.1,190,76.4,26,93.0,13,90.2,...,63,Singapore,"32,337",19.8,25%,51 : 49,National University of Singapore nus,"Other Health,Sport Science,Accounting & Financ...",False,False
19,200,20,Cornell University,85.9,200,80.2,20,86.1,22,97.3,...,252,United States,"24,027",10.3,26%,51 : 49,Cornell University,"Other Health,Biological Sciences,Psychology,Ec...",False,False

In [10]:
data1.isnull().sum().sum() # check for null values
#data.dropna(axis=0, inplace=True) # drop null values
#data.duplicated().sum() # check for duplicates

73