In [2]:
import numpy as np
import pandas as pd

Top 20 uni

In [22]:
data = pd.read_csv(r'2020-2024\TIMES_WorldUniversityRankings_2024.csv')
df = pd.DataFrame(data)
df.head(3)
# df.tail(3) #check for inconsistensies with data head/tail

,rank,name,scores_overall,scores_overall_rank,scores_teaching,scores_teaching_rank,scores_research,scores_research_rank,scores_citations,scores_citations_rank,...,stats_number_students,stats_student_staff_ratio,stats_pc_intl_students,stats_female_male_ratio,aliases,subjects_offered,closed,unaccredited,disabled,website_url
0,1,University of Oxford,98.5,10,96.6,5,100.0,2,99.0,5,...,"21,750",10.9,42%,49 : 51,University of Oxford,"Geography,Chemistry,Chemical Engineering,Biolo...",False,False,False,https://www.timeshighereducation.com/student/r...
1,2,Stanford University,98.0,20,99.0,1,97.8,8,99.6,2,...,"14,517",6.4,23%,47 : 53,Stanford University,"Computer Science,Communication & Media Studies...",False,False,False,NaN
2,3,Massachusetts Institute of Technology,97.9,30,98.6,2,96.2,11,99.7,1,...,"11,085",8.0,33%,41 : 59,Massachusetts Institute of Technology,"Architecture,Economics & Econometrics,Archaeol...",False,False,False,https://www.timeshighereducation.com/student/r...

In [23]:
df.info()
df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2673 entries, 0 to 2672
Data columns (total 29 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   rank                               2673 non-null   object
 1   name                               2673 non-null   object
 2   scores_overall                     1904 non-null   object
 3   scores_overall_rank                2673 non-null   int64
 4   scores_teaching                    1904 non-null   float64
 5   scores_teaching_rank               2673 non-null   int64
 6   scores_research                    1904 non-null   float64
 7   scores_research_rank               2673 non-null   int64
 8   scores_citations                   1904 non-null   float64
 9   scores_citations_rank              2673 non-null   int64
 10  scores_industry_income             1904 non-null   float64
 11  scores_industry_income_rank        2673 non-null   int64
 12  scores_international_outlook       1904 non-null   float64
 13  scores_international_outlook_rank  2673 non-null   int64
 14  record_type                        2673 non-null   object
 15  member_level                       2673 non-null   int64
 16  url                                2673 non-null   object
 17  nid                                2673 non-null   int64
 18  location                           2673 non-null   object
 19  stats_number_students              2673 non-null   object
 20  stats_student_staff_ratio          2673 non-null   float64
 21  stats_pc_intl_students             2673 non-null   object
 22  stats_female_male_ratio            2580 non-null   object
 23  aliases                            2673 non-null   object
 24  subjects_offered                   2669 non-null   object
 25  closed                             2673 non-null   bool
 26  unaccredited                       2673 non-null   bool
 27  disabled                           2673 non-null   bool
 28  website_url                        344 non-null    object
dtypes: bool(3), float64(6), int64(8), object(12)
memory usage: 550.9+ KB

rank                                  object
name                                  object
scores_overall                        object
scores_overall_rank                    int64
scores_teaching                      float64
scores_teaching_rank                   int64
scores_research                      float64
scores_research_rank                   int64
scores_citations                     float64
scores_citations_rank                  int64
scores_industry_income               float64
scores_industry_income_rank            int64
scores_international_outlook         float64
scores_international_outlook_rank      int64
record_type                           object
member_level                           int64
url                                   object
nid                                    int64
location                              object
stats_number_students                 object
stats_student_staff_ratio            float64
stats_pc_intl_students                object
stats_female_male_ratio               object
aliases                               object
subjects_offered                      object
closed                                  bool
unaccredited                            bool
disabled                                bool
website_url                           object
dtype: object

Column names

In [24]:
df.columns.tolist()

# drop irrelevant columns
data = data.drop(['aliases',
 'subjects_offered',
 'closed',
 'unaccredited',
 'disabled',
 'website_url',
 'record_type', 
 'member_level', 
 'url', 'nid', 
 'location'], axis= 1)
data.columns

Index(['rank', 'name', 'scores_overall', 'scores_overall_rank',
       'scores_teaching', 'scores_teaching_rank', 'scores_research',
       'scores_research_rank', 'scores_citations', 'scores_citations_rank',
       'scores_industry_income', 'scores_industry_income_rank',
       'scores_international_outlook', 'scores_international_outlook_rank',
       'stats_number_students', 'stats_student_staff_ratio',
       'stats_pc_intl_students', 'stats_female_male_ratio'],
      dtype='object')

In [29]:
df = pd.DataFrame(data)
df_new = df.head(20)
df_new
df_new.to_csv('')

In [26]:
data1.isnull().sum().sum() # check for null values
#data.dropna(axis=0, inplace=True) # drop null values
#data.duplicated().sum() # check for duplicates

73