In [54]:
import numpy as np
import pandas as pd
import os
from io import StringIO

In [55]:
df = pd.read_csv(r"notebooks\combined (2020-24 v3).csv")
df

,name,scores_overall,rank,scores_teaching,scores_teaching_rank,scores_research,scores_research_rank,scores_citations,scores_citations_rank,scores_industry_income,scores_industry_income_rank,scores_international_outlook,scores_international_outlook_rank,stats_number_students,stats_student_staff_ratio,stats_pc_intl_students,stats_female_male_ratio,year
0,University of Oxford,95.4,1,90.5,6,99.6,1,98.4,26,65.5,178,96.4,22,"20,665",11.2,41%,46 : 54,2020
1,California Institute of Technology,94.5,2,92.1,2,97.2,4,97.9,35,88.0,63,82.5,151,"2,240",6.4,30%,34 : 66,2020
2,University of Cambridge,94.4,3,91.4,4,98.7,2,95.8,62,59.3,236,95.0,37,"18,980",10.9,37%,47 : 53,2020
3,Stanford University,94.3,4,92.8,1,96.4,5,99.9,9,66.2,172,79.5,188,"16,135",7.3,23%,43 : 57,2020
4,Massachusetts Institute of Technology,93.6,5,90.5,5,92.4,10,99.5,14,86.9,70,89.0,99,"11,247",8.6,34%,39 : 61,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10048,Zarqa University,0,100076,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,"5,881",17.0,35%,60 : 40,2024
10049,Zhetysu University,0,100076,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,"4,872",18.2,0%,66 : 34,2024
10050,Zhytomyr Polytechnic State University,0,100076,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,"4,454",16.1,1%,40 : 60,2024
10051,Ziane Achour University of Djelfa,0,100076,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,"31,103",28.5,0%,55 : 45,2024
10052,Ziauddin University,0,100076,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,"5,672",9.2,0%,58 : 42,2024

Create new column 'year'

In [ ]:
# Read the CSV file
df = pd.read_csv(r"2020-2024\TIMES_WorldUniversityRankings_2024.csv")

# Create a new column. For example, let's create a column named 'new_column' and initialize it with the value '0'
df['year'] = '2024'

# Write the dataframe back to CSV
#df.to_csv('2024wranks.csv', index=False)

Combine csv's into one

In [ ]:
directory = r"newdataset"

csv_files = [f for f in os.listdir(directory) if f.endswith('.csv')]

# Create a list to hold dataframes
dfs = []

# Read each CSV file and append it to the list
for csv_file in csv_files:
    df = pd.read_csv(os.path.join(directory, csv_file))
    dfs.append(df)

# Concatenate all dataframes in the list
combined_df = pd.concat(dfs, ignore_index=True)

# Write the combined dataframe to a new CSV file
#combined_df.to_csv('combined (2020-24.csv)', index=False)

Cleaning dataset 2020-24

In [ ]:
data = pd.read_csv(r"newdataset\2023.csv")
df = pd.DataFrame(data)

df.columns.tolist()

# drop irrelevant columns
df = df.drop(['aliases',
 'subjects_offered',
 'closed',
 'unaccredited',
 'disabled',
 'website_url',
 'record_type', 
 'member_level', 
 'url', 'nid', 
 'location',
 'rank'
 ], axis= 1)
df
df.to_csv(r"", index=False)

In [28]:
# Changing column name

data = pd.read_csv(r"notebooks/combined (2020-24 v2).csv")
df = pd.DataFrame(data)
df = df.rename(columns={
    'scores_overall_rank': 'rank',
})

#df.to_csv(r"notebooks/combined (2020-24 v2).csv", index=False)

In [ ]:
# replacing na values with 0
df = pd.read_csv(r"newdataset\combined (2020-24.csv)")
columns = ['rank_order', 'name', 'scores_overall',             'scores_overall_rank',
       'scores_teaching', 'scores_teaching_rank', 'scores_research',
       'scores_research_rank', 'scores_citations', 'scores_citations_rank',
       'scores_industry_income', 'scores_industry_income_rank',
       'scores_international_outlook', 'scores_international_outlook_rank',
       'stats_number_students', 'stats_student_staff_ratio',
       'stats_pc_intl_students', 'stats_female_male_ratio']

for col in columns:
    df[col] = df[col].fillna(0)

#df.to_csv(r"newdataset\combined (2020-24.csv)", index=False)

In [22]:
df['rank'] = df['rank']/10
#df.to_csv('combined (2020-24 v3).csv', index=False)

In [27]:
df['rank'] = df['rank'].astype(int)
#df.to_csv('combined (2020-24 v3).csv', index=False)

Cleaning columns :
stats_number_students ,stats_student_staff_ratio,stats_pc_intl_students,stats_female_male_ratio

In [56]:
# Replace empty strings with NaN
df['stats_number_students'] = df['stats_number_students'].replace('', np.nan)

# Remove commas and convert to float
df['stats_number_students'] = pd.to_numeric(df['stats_number_students'])
#df.to_csv('combined (2020-24 v4).csv', index=False)

ValueError: Unable to parse string "20,665" at position 0