In [12]:
import numpy as np
import pandas as pd

Top 20 uni

In [13]:
data = pd.read_csv(r'2020-2024\TIMES_WorldUniversityRankings_2024.csv')
df = pd.DataFrame(data)
df.head(3)
# df.tail(3) #check for inconsistensies with data head/tail

,rank,name,scores_overall,scores_overall_rank,scores_teaching,scores_teaching_rank,scores_research,scores_research_rank,scores_citations,scores_citations_rank,...,stats_number_students,stats_student_staff_ratio,stats_pc_intl_students,stats_female_male_ratio,aliases,subjects_offered,closed,unaccredited,disabled,website_url
0,1,University of Oxford,98.5,10,96.6,5,100.0,2,99.0,5,...,"21,750",10.9,42%,49 : 51,University of Oxford,"Geography,Chemistry,Chemical Engineering,Biolo...",False,False,False,https://www.timeshighereducation.com/student/r...
1,2,Stanford University,98.0,20,99.0,1,97.8,8,99.6,2,...,"14,517",6.4,23%,47 : 53,Stanford University,"Computer Science,Communication & Media Studies...",False,False,False,NaN
2,3,Massachusetts Institute of Technology,97.9,30,98.6,2,96.2,11,99.7,1,...,"11,085",8.0,33%,41 : 59,Massachusetts Institute of Technology,"Architecture,Economics & Econometrics,Archaeol...",False,False,False,https://www.timeshighereducation.com/student/r...

In [ ]:
df.info()
df.dtypes

Column names

In [14]:
df.columns.tolist()

# drop irrelevant columns
data = data.drop(['aliases',
 'subjects_offered',
 'closed',
 'unaccredited',
 'disabled',
 'website_url',
 'record_type', 
 'member_level', 
 'url', 'nid', 
 'location'], axis= 1)
data.columns

Index(['rank', 'name', 'scores_overall', 'scores_overall_rank',
       'scores_teaching', 'scores_teaching_rank', 'scores_research',
       'scores_research_rank', 'scores_citations', 'scores_citations_rank',
       'scores_industry_income', 'scores_industry_income_rank',
       'scores_international_outlook', 'scores_international_outlook_rank',
       'stats_number_students', 'stats_student_staff_ratio',
       'stats_pc_intl_students', 'stats_female_male_ratio'],
      dtype='object')

In [15]:
df = pd.DataFrame(data)
df_new
df_new.to_csv('2024all.csv')

In [ ]:
data1.isnull().sum().sum() # check for null values
#data.dropna(axis=0, inplace=True) # drop null values
#data.duplicated().sum() # check for duplicates

Removing commas and unecessary information

In [16]:
data2 = pd.read_csv(r"2024all.csv")
df2 = pd.DataFrame(data2)
data2

,Unnamed: 0,rank,name,scores_overall,scores_overall_rank,scores_teaching,scores_teaching_rank,scores_research,scores_research_rank,scores_citations,scores_citations_rank,scores_industry_income,scores_industry_income_rank,scores_international_outlook,scores_international_outlook_rank,stats_number_students,stats_student_staff_ratio,stats_pc_intl_students,stats_female_male_ratio
0,0,1,University of Oxford,98.5,10,96.6,5,100.0,2,99.0,5,98.7,77,97.5,14,"21,750",10.9,42%,49 : 51
1,1,2,Stanford University,98.0,20,99.0,1,97.8,8,99.6,2,100.0,25,87.0,167,"14,517",6.4,23%,47 : 53
2,2,3,Massachusetts Institute of Technology,97.9,30,98.6,2,96.2,11,99.7,1,100.0,16,93.8,66,"11,085",8.0,33%,41 : 59
3,3,4,Harvard University,97.8,40,97.7,3,99.9,3,99.4,3,84.2,216,90.8,119,"20,050",9.0,25%,51 : 49
4,4,5,University of Cambridge,97.5,50,95.8,7,100.0,1,98.0,12,87.9,180,97.4,15,"20,565",11.5,38%,48 : 52
5,5,6,Princeton University,96.9,60,96.3,6,97.9,7,98.8,7,95.1,118,89.1,135,"7,753",7.3,23%,47 : 53
6,6,7,California Institute of Technology,96.5,70,96.6,4,98.0,6,95.9,38,100.0,2,90.6,123,"2,240",6.1,33%,37 : 63
7,7,8,Imperial College London,95.1,80,90.9,12,95.5,12,98.6,8,90.9,157,98.3,6,"20,275",11.8,61%,42 : 58
8,8,9,"University of California, Berkeley",94.6,90,87.2,18,98.8,4,99.0,4,99.4,63,86.8,171,"39,991",17.9,22%,52 : 48
9,9,10,Yale University,94.2,100,94.0,10,94.9,13,97.7,18,86.5,192,82.4,216,"11,924",5.2,21%,51 : 49
10,10,11,ETH Zurich,93.1,110,87.6,16,96.8,10,95.6,41,82.9,229,95.6,36,"22,619",15.4,43%,33 : 67
11,11,12,Tsinghua University,92.4,120,95.3,9,98.1,5,93.2,73,99.9,38,51.7,750,"38,518",11.2,10%,NaN
12,12,13,The University of Chicago,92.1,130,89.6,13,91.2,19,97.6,20,93.8,129,82.3,219,"15,792",6.2,36%,47 : 53
13,13,14,Peking University,91.8,140,95.6,8,97.3,9,87.2,172,98.8,72,70.2,404,"33,064",10.9,14%,NaN
14,14,15,Johns Hopkins University,91.1,150,84.4,23,92.3,17,97.2,27,100.0,11,84.2,198,"15,772",4.1,28%,56 : 44
15,15,16,University of Pennsylvania,91.0,160,87.7,15,89.7,21,97.6,23,97.7,90,78.8,268,"21,312",6.2,22%,54 : 46
16,16,17,Columbia University,90.9,170,88.6,14,89.7,20,97.4,25,75.2,332,86.9,168,"25,914",5.2,35%,NaN
17,17,18,"University of California, Los Angeles",90.1,180,85.7,19,91.9,18,96.4,34,92.3,143,74.3,341,"42,634",9.6,15%,56 : 44
18,18,19,National University of Singapore,90.0,190,78.8,25,94.0,16,95.4,47,100.0,19,91.1,116,"33,334",20.0,24%,49 : 51
19,19,20,Cornell University,89.5,200,85.7,20,88.7,22,97.6,22,69.4,447,86.0,175,"23,620",10.0,24%,51 : 49

In [11]:
# Assuming your DataFrame is named df
df2['name'] = df2['name'].str.replace(', Los Angeles', '')
df2
# Display the modified DataFrame
#df2.to_csv(r'2024all.csv')

,Unnamed: 0,rank,name,scores_overall,scores_overall_rank,scores_teaching,scores_teaching_rank,scores_research,scores_research_rank,scores_citations,scores_citations_rank,scores_industry_income,scores_industry_income_rank,scores_international_outlook,scores_international_outlook_rank,stats_number_students,stats_student_staff_ratio,stats_pc_intl_students,stats_female_male_ratio
0,0,1,University of Oxford,98.5,10,96.6,5,100.0,2,99.0,5,98.7,77,97.5,14,"21,750",10.9,42%,49 : 51
1,1,2,Stanford University,98.0,20,99.0,1,97.8,8,99.6,2,100.0,25,87.0,167,"14,517",6.4,23%,47 : 53
2,2,3,Massachusetts Institute of Technology,97.9,30,98.6,2,96.2,11,99.7,1,100.0,16,93.8,66,"11,085",8.0,33%,41 : 59
3,3,4,Harvard University,97.8,40,97.7,3,99.9,3,99.4,3,84.2,216,90.8,119,"20,050",9.0,25%,51 : 49
4,4,5,University of Cambridge,97.5,50,95.8,7,100.0,1,98.0,12,87.9,180,97.4,15,"20,565",11.5,38%,48 : 52
5,5,6,Princeton University,96.9,60,96.3,6,97.9,7,98.8,7,95.1,118,89.1,135,"7,753",7.3,23%,47 : 53
6,6,7,California Institute of Technology,96.5,70,96.6,4,98.0,6,95.9,38,100.0,2,90.6,123,"2,240",6.1,33%,37 : 63
7,7,8,Imperial College London,95.1,80,90.9,12,95.5,12,98.6,8,90.9,157,98.3,6,"20,275",11.8,61%,42 : 58
8,8,9,University of California,94.6,90,87.2,18,98.8,4,99.0,4,99.4,63,86.8,171,"39,991",17.9,22%,52 : 48
9,9,10,Yale University,94.2,100,94.0,10,94.9,13,97.7,18,86.5,192,82.4,216,"11,924",5.2,21%,51 : 49
10,10,11,ETH Zurich,93.1,110,87.6,16,96.8,10,95.6,41,82.9,229,95.6,36,"22,619",15.4,43%,33 : 67
11,11,12,Tsinghua University,92.4,120,95.3,9,98.1,5,93.2,73,99.9,38,51.7,750,"38,518",11.2,10%,NaN
12,12,13,The University of Chicago,92.1,130,89.6,13,91.2,19,97.6,20,93.8,129,82.3,219,"15,792",6.2,36%,47 : 53
13,13,14,Peking University,91.8,140,95.6,8,97.3,9,87.2,172,98.8,72,70.2,404,"33,064",10.9,14%,NaN
14,14,15,Johns Hopkins University,91.1,150,84.4,23,92.3,17,97.2,27,100.0,11,84.2,198,"15,772",4.1,28%,56 : 44
15,15,16,University of Pennsylvania,91.0,160,87.7,15,89.7,21,97.6,23,97.7,90,78.8,268,"21,312",6.2,22%,54 : 46
16,16,17,Columbia University,90.9,170,88.6,14,89.7,20,97.4,25,75.2,332,86.9,168,"25,914",5.2,35%,NaN
17,17,18,University of California,90.1,180,85.7,19,91.9,18,96.4,34,92.3,143,74.3,341,"42,634",9.6,15%,56 : 44
18,18,19,National University of Singapore,90.0,190,78.8,25,94.0,16,95.4,47,100.0,19,91.1,116,"33,334",20.0,24%,49 : 51
19,19,20,Cornell University,89.5,200,85.7,20,88.7,22,97.6,22,69.4,447,86.0,175,"23,620",10.0,24%,51 : 49

2020-24 csv

In [ ]:
import pandas as pd
import os

# Specify the directory you want to use
directory = r"n-2020-24 (cleaned)"

# Get a list of all CSV files in the target directory
csv_files = [f for f in os.listdir(directory) if f.endswith('.csv')]

# Create a list to hold dataframes
dfs = []

# Read each CSV file and append it to the list
for csv_file in csv_files:
    df = pd.read_csv(os.path.join(directory, csv_file))
    dfs.append(df)

# Concatenate all dataframes in the list
combined_df = pd.concat(dfs, ignore_index=True)

# Write the combined dataframe to a new CSV file
combined_df.to_csv('combined.csv', index=False)

Create new column 'year'

In [ ]:
import pandas as pd

# Read the CSV file
#df = pd.read_csv(r"2020-2024 (cleaned)/2024.csv")

# Create a new column. For example, let's create a column named 'new_column' and initialize it with the value '0'
#df['year'] = '2024'

# Write the dataframe back to CSV
#df.to_csv('n-2024.csv', index=False)

Removing commas

In [2]:
import pandas as pd

ndata = pd.read_csv(r"clean-v1.csv")
ndf = pd.DataFrame(ndata)
ndf.columns

Index(['Unnamed: 0', 'rank_order', 'rank', 'name', 'scores_overall',
       'scores_overall_rank', 'scores_teaching', 'scores_teaching_rank',
       'scores_research', 'scores_research_rank', 'scores_citations',
       'scores_citations_rank', 'scores_industry_income',
       'scores_industry_income_rank', 'scores_international_outlook',
       'scores_international_outlook_rank', 'stats_number_students',
       'stats_student_staff_ratio', 'stats_pc_intl_students',
       'stats_female_male_ratio', 'year'],
      dtype='object')

In [4]:
ndf['stats_number_students'] = ndf['stats_number_students'].str.replace(',', '')
#ndf.to_csv("clean-v1.csv")

In [31]:
import pandas as pd

# Read the CSV file
df = pd.read_csv(r"full-clean-combined.csv")

# List of columns to drop
columns_to_drop = ['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0', 'aliases', 'subjects_offered', 'closed' ,'unaccredited', 'location']

# Drop the columns
df = df.drop(columns=columns_to_drop)

#df.columns
# Write the dataframe back to CSV
df.to_csv('your_file.csv', index=False)

In [ ]:
import pandas as pd

# Read the CSV file
df = pd.read_csv(r"clean-v1.csv")
df = df[['scores_overall','year','name','']]

df.to_csv('graph1.csv', index=False)