Read CSV

In [1]:
import numpy as np
import pandas as pd
data = pd.read_csv(r'2020-2024 (cleaned)\2024.csv')
df = pd.DataFrame(data)

In [4]:
df_new = df[['rank', 'name', 'scores_teaching']]
ts_column = df_new['scores_teaching']
df_new

    rank                                   name  scores_teaching
0      1                   University of Oxford             96.6
1      2                    Stanford University             99.0
2      3  Massachusetts Institute of Technology             98.6
3      4                     Harvard University             97.7
4      5                University of Cambridge             95.8
5      6                   Princeton University             96.3
6      7     California Institute of Technology             96.6
7      8                Imperial College London             90.9
8      9     University of California, Berkeley             87.2
9     10                        Yale University             94.0
10    11                             ETH Zurich             87.6
11    12                    Tsinghua University             95.3
12    13              The University of Chicago             89.6
13    14                      Peking University             95.6
14    15               Johns Hopkins University             84.4
15    16             University of Pennsylvania             87.7
16    17                    Columbia University             88.6
17    18  University of California, Los Angeles             85.7
18    19       National University of Singapore             78.8
19    20                     Cornell University             85.7

Getting Sum, Avg, Median, Mode, Std deviation

In [5]:
ts_column.sum()
#ts_avg = ts_column.mean()
#ts_median = ts_column.median()
#ts_mode = ts_column.mode().iloc(0)
#ts_std = ts_column.std()

1831.7

In [6]:
ts_column.mean()

91.58500000000001

In [7]:
ts_column.mode()

0    85.7
1    96.6
Name: scores_teaching, dtype: float64

In [8]:
ts_column.std()

5.691662877910941

In [9]:
data0 = pd.read_csv(r'2020-2024\2020_rankings.csv')
df0 = pd.DataFrame(data0)
#df0[['rank']]
#df0.columns
top_df0 = df0.head(20)
#top_df0.to_csv(r'2020-2024 (cleaned)\202.csv')

In [13]:
data1 = pd.read_csv(r'2020-2024\2021_rankings.csv')
df1 = pd.DataFrame(data1)
top_df1 = df1.head(20)
top_df1

#top_df1.to_csv(r'2020-2024 (cleaned)\2021.csv')

In [15]:
data2 = pd.read_csv(r'2020-2024\2022_rankings.csv')
df2 = pd.DataFrame(data2)
top_df2 = df2.head(20)
top_df2

#top_df2.to_csv(r'2020-2024 (cleaned)\2022.csv')

In [17]:
data3 = pd.read_csv(r'2020-2024\2023_rankings.csv')
df3 = pd.DataFrame(data3)
top_df3 = df3.head(20)
top_df3

#top_df3.to_csv(r'2020-2024 (cleaned)\2023.csv')