Read CSV

In [105]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.graph_objects as go

data = pd.read_csv(r"combined (2020-24 v2).csv")
df = pd.DataFrame(data)

Top 20 universities years 2020-24

In [106]:
# Convert the 'year' column to integer type
df['year'] = df['year'].astype(int)

print(df['year'].unique()) # includes 2024

years = df['year'].unique()

# Filter the dataFrame
df = df[df['year'].isin(years) & (df['rank'] > 0)]

# Sort the DataFrame based on the 'rank' column
df = df.sort_values(by=['rank'])

# Get the top 20 ranks for each year
top_ranks = df.groupby('year').head(20)

# Print the result
print(top_ranks['year'].unique()) # doesnt include 2024?? // includes 2024 now

[2020 2021 2022 2023 2024]
[2020 2022 2023 2024 2021]

Table 1 - top 20 universities years 2020, 2021, 2022, 2023, 2024 'rank', 'name', 'scores_teaching'

In [ ]:
df_filtered = df[df['year'] == 2024][['rank', 'name', 'scores_teaching']].head(20) # change year to 2020/2021/2022/2023/2024
ts_column = df_filtered['scores_teaching']
df_filtered

Getting Sum, Avg, Median, Mode, Std deviation

In [ ]:
# NEED TO ADD TO TABLE
print(
    ts_column.sum(),
    ts_column.mean(),
    ts_column.median(),
    ts_column.mode(),
    ts_column.std()
)

Calculate average teaching score for each year

In [ ]:
# Calculate average teaching score for each year
average_teaching_score_per_year = top_ranks.groupby('year')['scores_teaching'].mean()

# Extract years and average teaching scores
years = average_teaching_score_per_year.index.to_numpy()
average_teaching_scores = average_teaching_score_per_year.to_numpy()

# Create the line graph
plt.figure(figsize=(10, 6))
plt.plot(years, average_teaching_scores, marker='o', linestyle='-')
plt.xlabel('Year')
plt.ylabel('Average Teaching Score')
plt.title('Average Teaching (2020-2024)')

# Ensure x-axis labels only show integer years
plt.xticks(years)

plt.show()

List of all unique university names that have been in top 20 across 2020-24

In [107]:
uni_names = top_ranks['name'].unique()

# Print the list of university names
print(uni_names)

['University of Oxford' 'Stanford University'
 'California Institute of Technology' 'Harvard University'
 'Massachusetts Institute of Technology' 'University of Cambridge'
 'Princeton University' 'University of California, Berkeley'
 'Yale University' 'Imperial College London' 'The University of Chicago'
 'University of Pennsylvania' 'Columbia University' 'ETH Zurich'
 'Tsinghua University' 'Johns Hopkins University' 'Peking University'
 'University of California, Los Angeles' 'UCL' 'University of Toronto'
 'Cornell University' 'National University of Singapore' 'Duke University']

Table 2. a,b

In [108]:
# 2.a
# Replace na w - for uni not in top 20 so values not there
average_scores = top_ranks.groupby(["name", "year"])["scores_teaching"].mean().unstack()
average_scores = average_scores.fillna('-') # - means uni wasnt present 
average_scores

year                                   2020  2021  2022  2023  2024
name
California Institute of Technology     92.1  92.5  93.6  90.9  96.6
Columbia University                    85.6  85.1  87.8  89.4  88.6
Cornell University                     79.7  78.8     -  80.2  85.7
Duke University                        82.4  80.7     -     -     -
ETH Zurich                             81.8  80.4  81.3  82.6  87.6
Harvard University                     89.2  94.4  94.5  94.8  97.7
Imperial College London                84.5  82.3  81.4  82.8  90.9
Johns Hopkins University               81.7  81.6  80.0  79.4  84.4
Massachusetts Institute of Technology  90.5  90.7  90.9  90.7  98.6
National University of Singapore          -     -     -  76.4  78.8
Peking University                         -     -  91.4  92.5  95.6
Princeton University                   90.3  88.8  89.5  87.6  96.3
Stanford University                    92.8  92.2  92.3  94.2  99.0
The University of Chicago              89.1  88.9  87.2  86.5  89.6
Tsinghua University                       -     -  88.1  90.1  95.3
UCL                                    77.8  76.6  76.8     -     -
University of California, Berkeley     83.0  85.8  85.7  86.4  87.2
University of California, Los Angeles  83.1  82.5  82.1     -  85.7
University of Cambridge                91.4  90.3  90.9  90.9  95.8
University of Oxford                   90.5  91.3  91.0  92.3  96.6
University of Pennsylvania             87.5  85.4  84.5  86.0  87.7
University of Toronto                  76.6  75.4  77.6  77.3     -
Yale University                        92.0  91.9  90.7  92.6  94.0

In [109]:
# 2.a
# With all values
filtered_df = df[df['name'].isin(uni_names)]

average_scores = filtered_df.groupby(["name", "year"])["scores_teaching"].mean().unstack()
average_scores

year                                   2020  2021  2022  2023  2024
name
California Institute of Technology     92.1  92.5  93.6  90.9  96.6
Columbia University                    85.6  85.1  87.8  89.4  88.6
Cornell University                     79.7  78.8  78.6  80.2  85.7
Duke University                        82.4  80.7  79.2  78.1  79.3
ETH Zurich                             81.8  80.4  81.3  82.6  87.6
Harvard University                     89.2  94.4  94.5  94.8  97.7
Imperial College London                84.5  82.3  81.4  82.8  90.9
Johns Hopkins University               81.7  81.6  80.0  79.4  84.4
Massachusetts Institute of Technology  90.5  90.7  90.9  90.7  98.6
National University of Singapore       76.8  75.9  76.3  76.4  78.8
Peking University                      89.1  89.6  91.4  92.5  95.6
Princeton University                   90.3  88.8  89.5  87.6  96.3
Stanford University                    92.8  92.2  92.3  94.2  99.0
The University of Chicago              89.1  88.9  87.2  86.5  89.6
Tsinghua University                    86.6  87.7  88.1  90.1  95.3
UCL                                    77.8  76.6  76.8  74.5  78.4
University of California, Berkeley     83.0  85.8  85.7  86.4  87.2
University of California, Los Angeles  83.1  82.5  82.1  80.4  85.7
University of Cambridge                91.4  90.3  90.9  90.9  95.8
University of Oxford                   90.5  91.3  91.0  92.3  96.6
University of Pennsylvania             87.5  85.4  84.5  86.0  87.7
University of Toronto                  76.6  75.4  77.6  77.3  77.5
Yale University                        92.0  91.9  90.7  92.6  94.0

In [ ]:
# 2.b
average_scores2 = top_ranks.groupby(["rank", "year"])["scores_teaching"].mean().unstack()
average_scores2 = average_scores2.fillna('-') 
average_scores2

In [ ]:
# Using top_ranks for top 20 unis

universities = top_ranks["name"].values
teaching_scores = top_ranks["scores_teaching"].values
years = top_ranks["year"].values

fig = go.Figure()

fig.add_trace(
    go.Scatter(
        x=universities,
        y=teaching_scores,
        yaxis="y2",
        name="Teaching Score",
        marker=dict(color="crimson"),
    )
)

fig.update_layout(
    legend=dict(orientation="h"),
    yaxis=dict(
        title=dict(text="Year"),
        side="left",
    ),
    yaxis2=dict(
        title=dict(text="Teaching Score"),
        side="right",
        overlaying="y",
        tickmode="sync",
    ),
)

fig.show() # ? idk what happened

Table 3

In [116]:
top_ranks['rank'] = top_ranks['rank'].astype(int)

# Calculate the average teaching score for each rank in each year
average_scores = top_ranks.groupby(['year', 'rank'])['scores_teaching'].mean().reset_index()

# So each row represents a year and each column represents a rank
pivot_df = average_scores.pivot(index='year', columns='rank', values='scores_teaching')

# Calculate the T values for first 5 ranks
# NEED TO CALCULATE FOR 20
# NEED TO CHANGE THE RANK VALUE in dataset later, DIVIDE BY ZERO
# difference b/w first and other ranks
pivot_df['T12'] = pivot_df[10] - pivot_df[20]
pivot_df['T13'] = pivot_df[10] - pivot_df[30]
pivot_df['T14'] = pivot_df[10] - pivot_df[40]
pivot_df['T15'] = pivot_df[10] - pivot_df[50]

# difference b/w current and next rank
pivot_df['T23'] = pivot_df[20] - pivot_df[30]
pivot_df['T34'] = pivot_df[30] - pivot_df[40]
pivot_df['T45'] = pivot_df[40] - pivot_df[50]

pivot_df

C:\Users\cavit\AppData\Local\Temp\ipykernel_9904\1111451138.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

rank,10,20,30,40,50,60,70,80,90,100,...,180,190,200,T12,T13,T14,T15,T23,T34,T45
year,,,,,,,,,,,,,,,,,,,,,
2020,90.5,92.1,91.4,92.8,90.5,90.3,89.2,92.0,89.1,84.5,...,76.6,79.7,82.4,-1.6,-0.9,-2.3,0.0,0.7,-1.4,2.3
2021,91.3,92.2,94.4,92.5,90.7,90.3,85.8,91.9,88.8,88.9,...,75.4,78.8,80.7,-0.9,-3.1,-1.2,0.6,-2.2,1.9,1.8
2022,91.0,93.6,94.5,92.3,90.9,90.9,89.5,85.7,90.7,87.2,...,77.6,76.8,82.1,-2.6,-3.5,-1.3,0.1,-0.9,2.2,1.4
2023,92.3,94.8,90.9,94.2,90.7,90.9,87.6,86.4,92.6,82.8,...,77.3,76.4,80.2,-2.5,1.4,-1.9,1.6,3.9,-3.3,3.5
2024,96.6,99.0,98.6,97.7,95.8,96.3,96.6,90.9,87.2,94.0,...,85.7,78.8,85.7,-2.4,-2.0,-1.1,0.8,0.4,0.9,1.9

In [119]:
# displaying T columns
T_columns = ['T12', 'T34']  # Add more column names if needed
pivot_df[T_columns]

rank  T12  T34
year
2020 -1.6 -1.4
2021 -0.9  1.9
2022 -2.6  2.2
2023 -2.5 -3.3
2024 -2.4  0.9